.resourcesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    .resourcesTabs{
        display: flex;
        align-self: flex-start;
        .tab{
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            padding: 10px 20px;
            background-color: #38a3a7;
            transition: 0.5s;
            cursor: pointer;
            border: 1px solid $black;
            border-bottom: none;
        }
        .tab:hover{
            background-color: #2e878a;
        }
    }
    .resource{
        .incomeStatement, .statement{
            tbody{
                tr{
               
                    td{
                        font-size: 18px;
                        padding: 5px 5px;
                        border: 1px solid rgb(138, 138, 138);
                        max-width: 200px;
                        overflow-x: hidden     
                    }
                    td:hover{
                        //max-width: unset;
                    }
                    td:nth-child(even){
                        background-color: rgb(72, 72, 72);
                    }
                    td:nth-child(odd){
                        background-color: $black;
                    }
                
                    button{
                        background-color: $green;
                        color: $white;
                        border: none;
                        border-radius: 5px;
                        padding: 5px 15px;
                        font-family: "bold";
                        cursor: pointer;
                    }
                    button:hover{
                        background-color: #89a738;
                    }
              
                }
            }
        }
        .balanceSheet, .cashFlow{
            display: none;
        }
    }
}