.resourcesContainer{
    .resource{
        .incomeStatement{
            tbody{
                tr{
               
                    td{
                        font-size: 18px;
                        padding: 5px 5px;
                        border: 1px solid rgb(138, 138, 138);
       
                    }
                    td:nth-child(even){
                        background-color: rgb(72, 72, 72);
                    }
                    td:nth-child(odd){
                        background-color: $black;
                    }
                
                    button{
                        background-color: $green;
                        color: $white;
                        border: none;
                        border-radius: 5px;
                        padding: 5px 15px;
                        font-family: "bold";
                        cursor: pointer;
                    }
                    button:hover{
                        background-color: #89a738;
                    }
              
                }
            }
        }
    }
}