@font-face {
  font-family: "montserrat";
  font-style: normal;
  src: url(fonts/Montserrat/Montserrat-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "semibold";
  font-style: normal;
  src: url(fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "bold";
  font-style: normal;
  src: url(fonts/Montserrat/Montserrat-Bold.ttf);
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  font-family: "montserrat";
  color: #ffffff;
}

.wrapper {
  display: flex;
  justify-content: center;
}

html {
  height: 100%;
  background-color: #242424;
}

.flexbox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.primaryButton {
  background-color: #1e86b3;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: "semibold";
  font-size: 20px;
  padding: 12px 25px;
  cursor: pointer;
  transition: 0.5s;
}

.primaryButton:hover {
  background-color: #19759c;
}

::-moz-selection {
  background-color: #A0C343; /* Set your desired highlight color */
  color: #FFFFFF; /* Set the text color */
}

::selection {
  background-color: #A0C343; /* Set your desired highlight color */
  color: #FFFFFF; /* Set the text color */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #242424;
}

::-webkit-scrollbar-thumb {
  background-color: #FF497C;
  height: 10px;
}

.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.homeBody h1 {
  font-size: 30px;
}
.homeBody form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.homeBody form input {
  border: none;
  border-bottom: 2px solid #45D0EE;
  padding-bottom: 2px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  color: #242424;
}
.homeBody form input:focus {
  outline: none;
}

.resourcesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.resourcesContainer .resourcesTabs {
  display: flex;
  align-self: flex-start;
}
.resourcesContainer .resourcesTabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  background-color: #38a3a7;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid #242424;
  border-bottom: none;
}
.resourcesContainer .resourcesTabs .tab:hover {
  background-color: #2e878a;
}
.resourcesContainer .resource .incomeStatement tbody tr td, .resourcesContainer .resource .statement tbody tr td {
  font-size: 18px;
  padding: 5px 5px;
  border: 1px solid rgb(138, 138, 138);
  max-width: 350px;
  overflow-x: hidden;
}
.resourcesContainer .resource .incomeStatement tbody tr td:hover, .resourcesContainer .resource .statement tbody tr td:hover {
  max-width: unset;
}
.resourcesContainer .resource .incomeStatement tbody tr td:nth-child(even), .resourcesContainer .resource .statement tbody tr td:nth-child(even) {
  background-color: rgb(72, 72, 72);
}
.resourcesContainer .resource .incomeStatement tbody tr td:nth-child(odd), .resourcesContainer .resource .statement tbody tr td:nth-child(odd) {
  background-color: #242424;
}
.resourcesContainer .resource .incomeStatement tbody tr button, .resourcesContainer .resource .statement tbody tr button {
  background-color: #A0C343;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-family: "bold";
  cursor: pointer;
}
.resourcesContainer .resource .incomeStatement tbody tr button:hover, .resourcesContainer .resource .statement tbody tr button:hover {
  background-color: #89a738;
}
.resourcesContainer .resource .balanceSheet, .resourcesContainer .resource .cashFlow {
  display: none;
}/*# sourceMappingURL=style.css.map */