<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KRWD Fundamentals Tracker</title>
   
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Showing Financial Data For {{ticker}}</h1>
    <div class="resourcesContainer">
        <div class="resource">
            <table class=incomeStatement>
                <tbody>
                <!-- get every row title -->
                {% set keys = incomeStatements[0].keys() %} 
                    {% for key in keys %}
                    <tr id="row-{{key}}">
                        <td>{{ key }}</td>
                        {% for statement in incomeStatements %}
                            <td>{{statement [key]}}</td>
                        {% endfor %}
                        <td><button onclick="graphRow('row-{{key}}')">Graph</button></td>
                    {% endfor %}
               
                    </tr>
                
                 </tbody>
            
            </table>
        </div>
    </div>
</body>
 <script src="../static/scripts/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>