<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KRWD Fundamentals Tracker</title>
   
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="flexbox">
   <div class="resourcesContainer">
        <h1>Showing Financial Data For {{ticker}}</h1>
        <div class="resourcesTabs">
             <div onclick="changeTabs('incomeStatement')" class="tab">
                <b>Income Statement</b>
            </div>
             <div onclick="changeTabs('balanceSheet')" class="tab">
                <b>Balance Sheet</b>
            </div>
            <div onclick="changeTabs('cashFlow')" class="tab">
                <b>Cash Flow</b>
            </div>
            <div onclick="changeTabs('ratios')" class="tab">
                <b>Ratios</b>
            </div>
        </div>
        <div class="resource">
            <table class="incomeStatement statement">
                <tbody>
                <!-- get every row title -->
                {% set keys = incomeStatements[0].keys() %} 
                    {% for key in keys %}
                    <tr id="row-{{key}}" title="{{key}}">
                        <td>{{ key }}</td>
                        {% for statement in incomeStatements %}
                            <td>{{statement [key]}}</td>
                        {% endfor %}
                        <td><button onclick="graphRow('row-{{key}}')">Graph</button></td>
                    {% endfor %}
               
                    </tr>
                
                 </tbody>
            
            </table>
        </div>
        <div class="resource">
            <table class="balanceSheet statement">
                <tbody>
                <!-- get every row title -->
                {% set keys = balanceSheets[0].keys() %} 
                    {% for key in keys %}
                    <tr id="row-{{key}}" title="{{key}}">
                        <td>{{ key }}</td>
                        {% for statement in balanceSheets %}
                            <td>{{statement [key]}}</td>
                        {% endfor %}
                        <td><button onclick="graphRow('row-{{key}}')">Graph</button></td>
                    {% endfor %}
               
                    </tr>
                
                 </tbody>
            
            </table>
        </div>
        <div class="resource">
            <table class="cashFlow statement">
                <tbody>
                <!-- get every row title -->
                {% set keys = cashFlows[0].keys() %} 
                    {% for key in keys %}
                    <tr id="row-{{key}}" title="{{key}}">
                        <td>{{ key }}</td>
                        {% for statement in cashFlows %}
                            <td>{{statement [key]}}</td>
                        {% endfor %}
                        <td><button onclick="graphRow('row-{{key}}')">Graph</button></td>
                    {% endfor %}
               
                    </tr>
                
                 </tbody>
            
            </table>
        </div>

<div class="resource">
  <table class="ratios statement">
    <tbody>
      {% for key, values in ratios.items() %}
      <tr id="ratio-row-{{ key }}" title="{{ key }}">
        <td>{{ key }}</td>
        {% for value in values %}
          <td>{{ value }}</td>
        {% endfor %}
        <td><button onclick="graphRow('ratio-row-{{ key }}')">Graph</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



    </div>
    </div>
 
</body>
 <script src="../static/scripts/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>