<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KRWD Fundamentals Tracker</title>
    <script src="script.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Showing Financial Data For {{ticker}}</h1>
    <div class="resourcesContainer">
        <div class="resource">
            <table>
           
            </table>
        </div>
    </div>
</body>
</html>